{% extends "layout.html" %}

{% block content %}


<div class="col-sm-5 col-sm-offset-4">
    <form action="/result" method=post enctype=multipart/form-data class="form-horizontal">
        <input type="text" name='playername' id="ajax" list="json-datalist" placeholder="e.g. datalist">
        <datalist id="json-datalist"></datalist>
        <input class="btn btn-primary btn-lg" type=submit value="Get Similar">
    </form>
</div>

<script>
var dataList = document.getElementById('json-datalist');
var input = document.getElementById('ajax');

var request = new XMLHttpRequest();

request.onreadystatechange = function(response) {
  if (request.readyState === 4) {
    if (request.status === 200) {
      var jsonOptions = JSON.parse(request.responseText);

      jsonOptions.forEach(function(item) {
        var option = document.createElement('option');
        option.value = item;
        dataList.appendChild(option);
      });

      input.placeholder = "DeAndre Jordan";
    } else {
      input.placeholder = "Couldn't load datalist options :(";
    }
  }
};

input.placeholder = "Loading options...";

request.open('GET', 'static/players.json', true);
request.send();
</script>

{% endblock %}