{% extends "layout.html" %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">

<form action="" method=post enctype=multipart/form-data class="form-horizontal">
    <div class="form-group">
      <label>Player:</label>
      <input type=text name=player list="languages">
        <datalist id="languages">
          <option value="HTML">
          <option value="CSS">
          <option value="JavaScript">
          <option value="Java">
          <option value="Ruby">
          <option value="PHP">
          <option value="Go">
          <option value="Erlang">
          <option value="Python">
          <option value="C">
          <option value="C#">
          <option value="C++">
</datalist>
    </div>
    <input class="btn btn-primary btn-lg" type=submit value=Find Similar></input>

        </form>

</div>

{% endblock %}